<div class="table-responsive">
  <table class="custom-table">
    <thead>
      <tr>
        <th *ngFor="let item of tableHeaders; track $index" (click)="sortTable(item.value)">
          {{ item.description }}
          <ng-container *ngIf="isCurrentSortHeader(item.value)">
            {{ getSortHeaderArrow() }}
          </ng-container>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of cryptos">
        <td>{{ element.symbol | uppercase }}</td>
        <td>
          <div class="price-container">
            <span>{{ element.pricePerUnit | formatCurrency }}</span>
            <span class="balance" *ngIf="element.balance">{{ element.balance }} qty</span>
          </div>
        </td>
        <td>{{ element.investedAmount | formatCurrency }}</td>
        <td>
          <div class="worth-container">
            <span>{{ element.currentWorth | formatCurrency }}</span>
            <span class="investment-gain-loss">
              <app-percent-difference
                [percentDifference]="element.investmentGainLossPercentage"></app-percent-difference>
            </span>
          </div>
        </td>
        <td>
          <button type="button" (click)="cryptoDashboard(element.id)" class="btn see-details-btn">
            <i class="material-icons">info</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .table-responsive {
    overflow-x: auto;
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .custom-table th,
  .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  .custom-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    cursor: pointer;
  }

  .custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .price-container,
  .worth-container {
    display: flex;
    flex-direction: column;
  }

  .balance,
  .investment-gain-loss {
    color: grey;
  }

  .btn {
    color: white;
    background-color: #007bff;
    display: inline-flex;
  }

  .btn:hover {
    background-color: #0056b3;
  }

  .material-icons {
    font-size: 20px;
  }
</style>