<section class="mat-elevation-z1" tabindex="0">
  <table mat-table [dataSource]="cryptos">

    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.symbol | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef>Unit Price</th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; flex-direction: column;">
          <span>
            {{element.pricePerUnit | currency: 'USD':'symbol':'1.0-3' }}
          </span>
        </div>
        <span>
          {{element.balance }} qty
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="investedAmount">
      <th mat-header-cell *matHeaderCellDef>Invested Amount</th>
      <td mat-cell *matCellDef="let element"> {{element.investedAmount | currency: 'USD':'symbol':'1.0-3' }} </td>
    </ng-container>

    <ng-container matColumnDef="currentWorth">
      <th mat-header-cell *matHeaderCellDef>Current Worth</th>
      <td mat-cell *matCellDef="let element"> {{element.currentWorth | currency: 'USD':'symbol':'1.0-3' }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" aria-label="See stats" type="button"
          (click)="cryptoDashboard(element.id)">
          <mat-icon>query_stats</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<style>
  section {
    width: 100%;
    overflow-x: auto;
  }
</style>