<div class="table-responsive">
  <table class="table border border-secondary rounded">
    <thead>
      <tr>
        <th>Name</th>
        <th>Unit Price</th>
        <th>Invested amount</th>
        <th>Current worth</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of cryptos">
        <td>{{ element.symbol | uppercase }}</td>
        <td>
          <div style="display: flex; flex-direction: column;">
            <span>
              {{ element.pricePerUnit | currency: 'USD':'symbol':'1.2-2' }}
            </span>
            <span style="color: grey;" *ngIf="element.balance">
              {{ element.balance }} qty
            </span>
          </div>
        </td> <!-- avaragePrice -->
        <td>{{ element.investedAmount | currency: 'USD':'symbol':'1.2-2' }}</td> <!-- investedAmount -->
        <td>
          <div style="display: flex; flex-direction: column;">
            <span>
              {{ element.currentWorth | currency: 'USD':'symbol':'1.2-2' }}
            </span>
            <span style="color: grey;">
              <app-percent-difference [percentDifference]="element.investmentGainLossValue" />
            </span>
          </div>
        </td> <!-- currentWorth -->
        <td> <a (click)="cryptoDashboard(element.id)" class="btn btn-primary">See details</a></td>
      </tr>
    </tbody>
  </table>
</div>