<header
  class="flex items-center h-16 gap-2 justify-between border-y-2 bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">

  <div class="flex g-2">
    <button class="text-gray-900 cursor-pointer ml-6 font-bold dark:text-gray-100 sm:hidden"
      (click)="toggleSidenavEvent.emit()">
      <span class="material-icons">menu</span>
    </button>

    <!-- @if (isCollapsed()) { -->
    <img [src]="'https://dgistage.blob.core.windows.net/images/image__1_-removebg-preview.png'" alt="logo"
      class="w-20 h-15 ml-2">
    <!-- } -->
  </div>

  <div>
    <h1 class="text-lg font-bold text-gray-900 dark:text-gray-100">{{ accountTag() }} account</h1>
  </div>

  <div class="flex items-center mr-6 sm:mr-4">
    <button (click)="toggleAccountModal([])"
      class="flex items-center text-blue-600 cursor-pointer transition-colors duration-200 justify-center h-10 w-10 mr-2 rounded-full bg-blue-100 dark:bg-blue-900">
      <span class="material-icons">apps</span>
    </button>

    <div id="username-initial-letter"
      class="h-10 w-10 rounded-full bg-blue-100 dark:bg-blue-900 flex items-center justify-center">
      <span class="text-base font-bold text-blue-600 dark:text-blue-300">
        {{ username() | slice: 0:1 }}
      </span>
    </div>
  </div>

</header>

@if (showAccountModal()) {
<app-modal (close)="toggleAccountModal([])">
  <app-account-selection (accountCreatedEvent)="toggleAccountModal($event)"></app-account-selection>
</app-modal>
}