<header
  class="sm:h-12  flex items-center h-16 gap-2 justify-between border-y-2 bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
  <button class="text-gray-900 cursor-pointer ml-6 font-bold dark:text-gray-100 sm:hidden"
    (click)="toggleSidenavEvent.emit()">
    <span class="material-icons">menu</span>
  </button>
  <div
    class="sm:ml-auto border border-gray-900 p-2 rounded-full text-gray-900 w-8 h-8 flex items-center justify-center mr-5 dark:text-gray-100 dark:border-gray-100">
    {{ username() | slice: 0:1 }}</div>
</header>