<div class="dialog">
  <header>
    <h2 class="">New crypto asset</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </header>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Select a cryptocurrency</mat-label>
      <mat-select [(ngModel)]="selectedCoinMarketCapId" name="select">
        <mat-option *ngFor="let crypto of cryptoOptions$ | async" [value]="crypto.coinMarketCapId">
          {{ crypto.symbol }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <app-button style="margin-top: 10px;" [text]="'Save'" [loading]="!loading" [disabled]="selectedCoinMarketCapId < 1"
    (click)="createCryptoAsset(selectedCoinMarketCapId)"></app-button>
</div>

<style>
  .dialog {
    padding: 10px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  mat-form-field {
    width: 100%;
  }
</style>