<main>
  <header>
    <h1>Cryptos</h1>
    <app-button [loading]="true" [text]="'Add asset'" (submit)="openModal()"></app-button>
  </header>

  <div>
    <app-crypto-filter (searchControlEvent)="search($event, hideZeroBalance)"
      (hideZeroBalanceControlEvent)="search('', hideZeroBalance = $event)" [setBalanceStatus]="setBalanceStatus">
    </app-crypto-filter>
  </div>


  <div *ngIf="cryptos$ | async as cryptos;">
    <div>
      <app-crypto-table [cryptos]="cryptos" [hideZeroBalance]="hideZeroBalance" />
    </div>
  </div>

  <ng-container *ngIf="emptyCryptoList">
    <div>
      <h2>No assets found 😥</h2>
      <app-button [loading]="true" [text]="'Add asset'" (submit)="openModal()"></app-button>
    </div>
  </ng-container>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>