<main class="flex flex-col gap-4 p-6">

  <div class="flex w-full justify-between sm:flex-col gap-4">
    <div class="grid grid-cols-4 gap-4 sm:grid-cols-2">
      <div class="bg-white rounded-md p-6 flex flex-col border-gray-300 border shadow-md sm:p-2.5" style="order: 1;">
        <i class="material-icons bg-indigo-50 border border-indigo-300 text-indigo-200 p-2 rounded-lg w-10">savings</i>
        <span class="text-base font-normal mt-1 text-gray-900 dark:text-gray-100">{{ totalInvested |
          currency:'USD':'symbol':'1.2-2'}}</span>
        <span class="text-sm font-thin text-gray-900 dark:text-gray-100">Value Invested</span>
      </div>
      <div class="bg-white rounded-md p-6 flex flex-col border-gray-300 border shadow-md sm:p-2.5 order-2">
        <i class="material-icons bg-green-50 border border-green-300 text-green-200 p-2 rounded-lg w-10">show_chart</i>
        <span class="flex w-full text-base font-normal mt-1 text-gray-900 dark:text-gray-100">{{
          totalMarketValue |
          currency:'USD':'symbol':'1.2-2'}}
          <app-percent-difference class="ml-1" [percentDifference]="investmentChangePercent"></app-percent-difference>
        </span>
        <span class="text-sm font-thin text-gray-900 dark:text-gray-100">Market Value</span>
      </div>
      <div
        class="bg-white rounded-md p-6 flex flex-col border-gray-300 border shadow-md sm:p-2.5 order-3 transition-colors duration-300 hover:bg-gray-100 hover:text-gray-700 cursor-pointer"
        (click)="redirectToAccount()">
        <i
          class="material-icons  bg-sky-50 border border-sky-300 text-sky-200 p-2 rounded-lg w-10">account_balance_wallet</i>
        <span class="text-base font-normal mt-1 text-gray-900 dark:text-gray-100">{{ accountBalance() |
          currency:'USD':'symbol':'1.2-2' }}</span>
        <span class="text-sm font-thin text-gray-900 dark:text-gray-100">Available Funds</span>
      </div>
    </div>
  </div>

  <div class="flex gap-4 justify-between items-start sm:flex-col w-full">
    <div
      class="flex flex-col p-4 rounded-md bg-white border shadow-md border-gray-300 mb-5 w-[70%] sm:w-full sm:order-2">
      <div class="overflow-auto">
        @if (isCryptoAssetListEmpty()) {
        <div class="flex justify-between items-center sm:flex-col sm:justify-start sm:items-start">
          <span class="text-base font-bold sm:mb-4">Cryptos</span>
          <div class="flex items-center justify-end sm:flex-row">
            <div class="mr-2 inline-block">
              <app-crypto-filter (searchControlEvent)="search($event, hideZeroBalance)"
                (hideZeroBalanceControlEvent)="search('', hideZeroBalance = $event)"
                [setBalanceStatus]="setBalanceStatus">
              </app-crypto-filter>
            </div>
            <div class="mr-0 inline-block">
              <app-add-crypto (cryptoCreated)="loadCryptoAssets()"></app-add-crypto>
            </div>
          </div>
        </div>
        }@else {
        <div class="text-center">
          <h2>No assets found 😥</h2>
          <app-add-crypto (cryptoCreated)="loadCryptoAssets()"></app-add-crypto>
        </div>
        }
        <app-crypto-table [cryptos]="cryptoAssetList()" [hideZeroBalance]="hideZeroBalance"
          [sortOrder]="sortOrderOutput()" [sortBy]="sortByOutput()" (outputHeader)="outputHeaderEvent($event)" />
      </div>
    </div>

    @if (cryptoAssetList()) {
    <div class="bg-white rounded-md p-2 border-gray-300 border shadow-md w-[30%] sm:w-full sm:order-1">
      <app-pie-chart [cryptos]="cryptoAssetList()" />
    </div>
    }
  </div>

</main>