<!-- <div
  class="h-full w-48 fixed bg-gray-900 overflow-x-hidden pt-5 transition-all duration-300 flex flex-col items-start gap-1"
  [class.collapsed]="isCollapsed()" [class.mobile]="isMobile()">
  @for (item of navItemsEnabled(); track $index) {
  <a [routerLink]="item.path" class="p-2.5 text-lg text-gray-400 flex items-center transition-all duration-300"
    [ngClass]="{'flex-col p-2 text-lg': isMobile()}">
    <i class="material-icons mr-2.5 transition-all duration-300">{{ item.icon }}</i>
    <span class="inline transition-opacity duration-300" [ngClass]="{'opacity-0 w-0 overflow-hidden': isCollapsed()}">
      {{ item.label }}
    </span>
  </a>
  }
</div>

<div class="ml-48 transition-all duration-300" [class.ml-12]="isCollapsed()" [class.ml-0]="isMobile()">
  <ng-content></ng-content>
</div> -->

<div class="sidenav" [class.collapsed]="isCollapsed()" [class.mobile]="isMobile()">
  @for (item of navItemsEnabled(); track $index) {
  <a [routerLink]="item.path">
    <i class="material-icons">{{ item.icon }}</i>
    <span class="label" (click)="logout(item)">{{ item.label }}</span>
  </a>
  }
</div>

<div class="main">
  <ng-content></ng-content>
</div>

<style>
  .sidenav.mobile {
    height: 60px;
    width: 100%;
    bottom: 0;
    top: auto;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    overflow: hidden;
  }

  .sidenav.mobile a {
    flex-direction: column;
    padding: 8px;
    font-size: 18px;
  }

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .sidenav.collapsed {
    width: 50px;
  }

  .sidenav a {
    padding: 8px 8px 8px 13px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: flex;
    align-items: center;
    transition: padding 0.3s, font-size 0.3s;
  }

  .sidenav.collapsed a {
    padding: 8px 8px 8px 13px;
  }

  .sidenav a i {
    margin-right: 10px;
    transition: margin-right 0.3s;
  }

  .sidenav .label {
    display: inline;
    transition: opacity 0.3s, width 0.3s;
  }

  .sidenav.collapsed .label {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .main {
    margin-left: 200px;
    transition: margin-left 0.3s;
  }

  .sidenav.collapsed~.main {
    margin-left: 50px;
  }

  @media (max-width: 600px) {
    .sidenav {
      width: 20px;
      justify-content: space-around;
      align-items: center;
    }

    .sidenav a {
      font-size: 15px;
      align-items: center;
    }

    .main {
      margin-left: 0px;
    }

    .sidenav .label {
      display: none;
    }

    .logout-btn {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
</style>