<div
  class="sidenav bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 border-x-2 sm:w-[20px] sm:justify-around sm:items-center"
  [class.collapsed]="isCollapsed()" [class.mobile]="isMobile()" [class.border-y-2]="isMobile()"
  [class.z-50]="isMobile()">
  <img [src]="'https://dgistage.blob.core.windows.net/images/image__1_-removebg-preview.png'" alt="alt09 logo"
    class="w-20 h-15 ml-2" [class.h-10]="isCollapsed()" [class.w-5]="isCollapsed()">
  <div id="divider" [class.hidden]="isCollapsed()"
    class="mx-4 w-10/12 border-b-2 border-gray-300 dark:border-gray-700 mb-2"></div>
  @for (item of navItemsEnabled(); track $index) {
  <a (click)="logout(item)" [routerLink]="item?.path" routerLinkActive="text-blue-500 dark:text-blue-100"
    class="flex items-center w-full p-3 rounded-lg transition-all duration-200 group hover:bg-gray-100 dark:hover:bg-gray-700"
    [class.flex-col]="isMobile()" [class.space-x-3]="!isMobile()" [class.space-y-1]="isMobile()">

    <i class="material-icons text-gray-600 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-gray-100 transition-colors duration-200"
      [class.text-xl]="!isMobile()" [class.text-lg]="isMobile()" [class.ml-3]="isMobile()"
      routerLinkActive="text-blue-500 dark:text-blue-100">
      {{ item.icon }}
    </i>

    <span class="font-medium transition-all duration-200" [class.opacity-0]="isCollapsed()" [class.w-0]="isCollapsed()"
      [class.text-sm]="!isMobile()" [class.text-xs]="isMobile()" [class.text-gray-700]="!isMobile()"
      [class.dark:text-gray-300]="!isMobile()" [class.group-hover:text-gray-900]="!isMobile()"
      [class.dark:group-hover:text-gray-100]="!isMobile()" (click)="logout(item)">
      {{ item.label }}
    </span>
  </a>
  }
</div>

<div class="main bg-gray-50 dark:bg-gray-900 overflow-auto h-full">
  <ng-content></ng-content>
</div>

<style>
  .sidenav.mobile {
    height: 60px;
    width: 100%;
    bottom: 0;
    top: auto;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    overflow: hidden;
  }

  .sidenav {
    height: 100%;
    width: 209px;
    position: fixed;
    overflow-x: hidden;
    padding-top: 2px;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* gap: 5px; */
  }

  .sidenav.collapsed {
    width: 50px;
  }

  .sidenav a {
    padding: 8px 8px 8px 13px;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: padding 0.3s, font-size 0.3s;
  }

  .sidenav.collapsed a {
    padding: 8px 8px 8px 13px;
  }

  .sidenav a i {
    margin-right: 10px;
    transition: margin-right 0.3s;
  }

  .sidenav .label {
    display: inline;
    transition: opacity 0.3s, width 0.3s;
  }

  .sidenav.collapsed .label {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .main {
    margin-left: 200px;
    transition: margin-left 0.3s;
  }

  .sidenav.collapsed~.main {
    margin-left: 50px;
  }

  @media (max-width: 600px) {
    .main {
      margin-left: 0px;
    }
  }
</style>