<div class="sidenav bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100" [class.collapsed]="isCollapsed()"
  [class.mobile]="isMobile()">
  @for (item of navItemsEnabled(); track $index) {
  <a [routerLink]="item.path" class="hover:bg-gray-200 dark:hover:bg-gray-700" [class.flex]="isMobile()"
    [class.flex-col]="isMobile()" [class.items-center]="isMobile()">
    <i class="material-icons" [class.ml-3]="isMobile()" [class.text-md]="isMobile()">{{ item.icon
      }}</i>
    <span [class.opacity-0]="isCollapsed()" [class.width-0]="isCollapsed()" [class.text-xs]="isMobile()"
      class="inline transition-all duration-300 text-gray-900 dark:text-gray-100" (click)="logout(item)">{{
      item.label }}</span>
  </a>
  }
</div>

<div class="main">
  <ng-content></ng-content>
</div>

<style>
  .sidenav.mobile {
    height: 60px;
    width: 100%;
    bottom: 0;
    top: auto;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    overflow: hidden;
  }

  .sidenav {
    height: 100%;
    width: 209px;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .sidenav.collapsed {
    width: 50px;
  }

  .sidenav a {
    padding: 8px 8px 8px 13px;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: padding 0.3s, font-size 0.3s;
  }

  .sidenav.collapsed a {
    padding: 8px 8px 8px 13px;
  }

  .sidenav a i {
    margin-right: 10px;
    transition: margin-right 0.3s;
  }

  .sidenav .label {
    display: inline;
    transition: opacity 0.3s, width 0.3s;
  }

  .sidenav.collapsed .label {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .main {
    margin-left: 200px;
    transition: margin-left 0.3s;
  }

  .sidenav.collapsed~.main {
    margin-left: 50px;
  }

  @media (max-width: 600px) {
    .sidenav {
      width: 20px;
      justify-content: space-around;
      align-items: center;
    }

    .main {
      margin-left: 0px;
    }
  }
</style>