<div
  class="bg-white dark:bg-gray-800 rounded-md p-6 flex flex-col border-gray-300 dark:border-gray-700 border shadow-md sm:p-2.5">
  <div class="flex flex-col">
    <div class="mt-1">
      @if (title() !== 'Balance') {
      <span class="text-base font-normal text-gray-900 dark:text-gray-100">{{ value() | formatCurrency }}</span>
      } @else {
      <span class="text-base font-normal text-gray-900 dark:text-gray-100">{{ value() }}</span>
      }
      @if (percentDifference()) {
      <app-percent-difference class="ml-1" [percentDifference]="percentDifference()">
      </app-percent-difference>
      }
    </div>
    <span class="text-sm font-thin text-gray-900 dark:text-gray-100">{{ title() }}</span>
  </div>
</div>