<div class="max-w-6xl mx-auto px-4 sm:px-4 lg:px-8 py-4">
  <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-100 mb-4">
    {{ cryptoInfo.symbol | uppercase }}
  </h1>

  <div class="grid grid-cols-3 sm:grid-cols-2 gap-4 mb-4">
    @for (card of cryptoAssetData$ | async; track $index) {
    <app-stats-card [title]="card.title" [value]="card.value" [percentDifference]="card.percent ? card.percent : 0" />
    }
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-sm">
      <app-add-transaction [cryptoAssetId]="cryptoAssetId" />
    </div>

    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-sm">
      <app-transaction-table [transactions]="transactions$" />
    </div>
  </div>
</div>