<div class="row-container">
  <div class="first-container">
    <select name="sort" class="sort-select" disabled>
      <option value="">Sort by..</option>
    </select>
    <div>
      <input type="checkbox" id="gridCheck" [formControl]="showZeroBalance">
      <label for="gridCheck">
        Hide zero balance
      </label>
    </div>
  </div>
  <div class="search">
    <input placeholder="Search by name.." aria-label="Search" type="text" [formControl]="searchControl">
  </div>
</div>

<style>
  .row-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 10px 0px;
  }

  .sort-select {
    width: 50%;
  }

  .search {
    width: 100%;
  }
</style>