<div class="first-container">

  <mat-form-field appearance="outline" *ngIf="false">
    <mat-label>Sort by..</mat-label>
    <mat-select disabled>
      <mat-option [value]=""></mat-option>
    </mat-select>
  </mat-form-field>

  <div class="gridCheck">
    <mat-slide-toggle [formControl]="showZeroBalance" color="primary">
      Hide zero balance
    </mat-slide-toggle>
  </div>

  <mat-form-field>
    <mat-label>Search by name..</mat-label>
    <input matInput aria-label="Search" type="text" [formControl]="searchControl">
  </mat-form-field>
</div>

<style>
  mat-form-field {
    width: 100%;
  }

  .first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }

  .gridCheck {
    width: 100%;
    display: flex;
    gap: 5px;
  }

  @media screen and (max-width: 768px) {
    .first-container {
      flex-wrap: wrap;
    }
  }
</style>