<!-- <div class="bg-white rounded-md border-gray-300 border shadow-md p-4 sm:w-full">
  <div class="flex flex-col justify-center">
    <h1 class="text-left font-bold text-xl mb-2">Crypto Holdings Chart</h1>

    <div class="flex items-start gap-2">
      <div class="sm:w-3/4 xl:w-4/5">
        <canvas id="chart"></canvas>
      </div>

      <div class="grid grid-rows-9 grid-flow-col gap-2">
        @for (crypto of cryptoImages(); track $index) {
        <div class="flex items-center gap-2">
          <div class="min-w-3 min-h-3 rounded-full" [ngStyle]="{'backgroundColor': crypto.color}"></div>
          <img [src]="crypto.imageUrl" [alt]="crypto.imageUrl" class="w-6 h-6 mr-4 rounded-full sm:w-5 sm:h-5" />
        </div>
        }
      </div>
    </div>

  </div>
</div> -->

<div class="flex flex-col gap-2 sm:flex-row ">
  <!-- <div class="w-full border rounded-md border-gray-300 bg-gray-50 p-4">
    <header class="w-full flex items-center justify-between">
      <h1 class="text-xl font-semibold sm:text-lg">{{ lineChartTitle() }}</h1>
      <div class="border rounded-md border-gray-300 bg-gray-50">
        <div class="flex flex-wrap gap-2 p-0.5">
          @for (time of timeArray(); track $index) {
          <button class="m-0.5 cursor-pointer rounded-md p-2 text-sm font-medium transition-all duration-300" [ngClass]="{
          'bg-gray-200': selectedTimeFilter() === time,
          'text-gray-600 hover:text-gray-700 hover:bg-gray-100': selectedTimeFilter() !== time
         }" (click)="setTimeFilter(time)">
            {{ time }}
          </button>
          }
        </div>
      </div>
    </header>
    <div #chartContainer class="h-[400px] w-full min-w-0"></div>
  </div> -->
  <div class="flex flex-col w-full border rounded-md border-gray-300 bg-white shadow-md p-4 ">
    <h1 class="text-xl font-semibold sm:text-lg">{{ pieChartTitle() }}</h1>
    <div #pieChartContainer class="min-h-[370px] w-[600px]"></div>
  </div>
</div>