<main>
  <form [formGroup]="depositForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Deposit</legend>
      <div class="input">
        <label for="transactionType">Type</label>
        <select id="transactionType" name="transactionType" aria-label="Transaction Type"
          formControlName="accountTransactionType">
          <option [value]="depositType.DepositFiat">Fiat</option>
          <option [value]="depositType.DepositCrypto">Crypto</option>
        </select>
      </div>
      <div class="input">
        <label for="amount">Amount</label>
        <input type="number" id="amount" name="amount" aria-label="Amount" formControlName="amount">
      </div>

      @if(accountTransactionType.value == depositType.DepositCrypto){
      <div class="input">
        <label for="cryptoAssetId">Crypto Asset</label>
        <select id="cryptoAssetId" name="cryptoAssetId" aria-label="Crypto Asset" formControlName="cryptoAssetId">
          @for (crypto of cryptoAssets(); track $index) {
          <option [value]="crypto.id">{{ crypto.symbol | uppercase }}</option>
          }
        </select>
        @if (cryptoAssetId.hasError('required')) {
        <div style="color: red;">
          Required field.
        </div>
        }
      </div>

      <div class="input">
        <label for="pricePerUnit">Current Price</label>
        <input type="number" id="pricePerUnit" name="pricePerUnit" aria-label="Current Price"
          formControlName="currentPrice">
        @if (currentPrice.hasError('required')) {
        <div style="color: red;">
          Required field.
        </div>
        }
      </div>

      <div class="input">
        <label for="exchangeName">Exchange Name</label>
        <input maxlength="255" type="text" id="exchangeName" name="exchangeName" aria-label="Exchange Name"
          formControlName="exchangeName">
        @if (exchangeName.hasError('required')) {
        <div style="color: red;">
          Required field.
        </div>
        }
        @if (exchangeName.hasError('maxLength')) {
        <div style="color: red;">
          Maximum of 255 characters allowed.
        </div>
        }
      </div>
      }

      <div class="input">
        <label for="purchaseDate">Date</label>
        <input type="date" id="purchaseDate" name="purchaseDate" aria-label="Purchase Date" formControlName="date">
        @if (date.hasError('required')) {
        <div style="color: red;">
          Required field.
        </div>
        }
      </div>

      <div class="action">
        <button class="deposit-button" type="submit">Save</button>
      </div>
    </fieldset>
  </form>
</main>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .input {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .deposit-button {
    border-radius: 5px;
    width: 100%;
    background-color: rgb(12, 109, 253);
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .deposit-button:hover {
    background-color: rgb(96, 138, 200);
  }

  .deposit-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(96, 138, 200, 0.5);
  }

  @media (max-width: 768px) {
    form {
      padding: 10px;
    }

    legend {
      font-size: 20px;
    }
  }
</style>
